.calendarpage {
  @include grid;

  h1 {
    @include h1;
  }

  h2 {
    @include h2;
  }

  h3 {
    @include h3
  }

  p, li {
    color: $font-color-light;
    @include paragraph-typo;
  }

  a {
    @include link;
  }

  &__title {
    @include title;
  }

  &__left {
    @include left;

    &__menu {
      width: 80%;
      margin-left: 10%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      &__buttons {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;

        div {
          margin: 1rem;
        }

        i {
          @include icon-light;
          font-size: 1.5rem;
          @include neumorph-button;
        }
        p {
          @include neumorph-button;
        }
      }
    }
    &__body {
      margin: 2rem;

      table {
        width: 100%;
        @include neumorph;
      }
    }
  }
  &__middle {
    @include middle;

    &__header {
      width: 80%;
      margin-bottom: 3rem;
      @include neumorph-middle;
    }
    &__noEvents {
      @include neumorph-middle;
      padding: 2rem;
    }
    &__deleteEvent {
      @include neumorph;
    }
    &__body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-around;

      &__event {
        width: 40%;
        height: auto;
        margin: 2rem;
        @include neumorph-middle;

        img {
          width: 80%;
        }
        &__button {
          @include neumorph-button;
        }
      }
    }
  }
  &__right {
    @include right; 
    &__addButton {
      @include neumorph-button;
    }
  }
  &__parallax__bottom {
    grid-area: parallax__bottom;
    background-image: url('https://i.ibb.co/2v0Z7Rv/spaarne.jpg');
    @include parallax
  }
  &__span {
    @include bottom;
  }
}

.today {
  border: solid $font-color-light 3px;
  border-radius: 3px;
}

.clickedDay {
  border: solid black 2px;
  border-radius: 3px;
}
.today:hover {
  color: red;
}

.day:hover {
  color: red;
}

.month:hover {
  color: red;
}

@media screen and (max-width: 1100px) {
  .calendarpage {
    @include grid-small;
  
    h1 {
      @include h1-small;
    }
  
    h2 {
      @include h2-small;
    }
  
    h3 {
      @include h3-small
    }
  
    p {
      @include p
    }
  
    a {
      @include link;
    }
  
    &__title {
      @include title-small;
    }
  
    &__left {
      @include left-small;
      width: 100%;
      margin: 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  
      &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
  
        &__buttons {
          display: flex;
          width: 90%;
          align-items: center;
          justify-content: space-around;
  
          div {
            margin: 0rem;
          }
  
          i {
            @include icon-light;
            font-size: 1rem;
            @include neumorph-button;
          }
        }
      }
      &__body {
        margin: 0.5rem;
  
        table {
          max-width: 90%;
          @include neumorph;
          p {
            font-size: 1rem;
          }
        }
      }
    }
    &__middle {
      @include middle-small;
  
      &__header {
        width: 80%;
        margin-bottom: 3rem;
        @include neumorph-middle;
      }
      &__noEvents {
        @include neumorph-middle;
        padding: 2rem;
      }
      &__deleteEvent {
        @include neumorph;
      }
      &__body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
  
        &__event {
          min-width: 80%;
          height: auto;
          margin: 2rem;
          @include neumorph-middle;
  
          img {
            width: 80%;
          }
          &__button {
            @include neumorph-button;
          }
        }
      }
    }
    &__right {
      @include right-small; 
      &__addButton {
        @include neumorph-button;
      }
    }
    &__span {
      @include bottom-small;
    }
  }
  
  .today {
    border: solid $font-color-light 3px;
    border-radius: 3px;
  }
  
  .clickedDay {
    border-radius: 3px;
  }
  .today:hover {
    color: red;
  }
  
  .day:hover {
    color: red;
  }
  
  .month:hover {
    color: red;
  }
}