.calendarpage {
  display: grid;
  grid-template-columns: 37vw auto;
  grid-template-rows: auto auto 50vh 20vh;
  grid-template-areas: 
    'title title'
    'left right'
    'parallax__bottom parallax__bottom'
    'bottom bottom'
  ;
  text-align: center;

  h1 {
    @include h1;
  }

  h2 {
    @include h2;
  }

  h3 {
    @include h3
  }

  p, li {
    color: $font-color-light;
    @include paragraph-typo;
  }

  a {
    @include link;
  }

  &__title {
    grid-area: title;
    margin-top: 7vh;
    width: 60%;
    margin-left: 20vw;
    text-align: center;
    background: $background-radial;
    @include neumorph-top;
  }

  &__left {
    grid-area: left;
    width: auto;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10vh;
    margin-bottom: 10vh;
    transform-style: preserve-3d;
    background: $background-radial;
    @include neumorph-middle;
    @include transition-ease;

    &__menu {
      width: 80%;
      margin-left: 10%;
      height: 15vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      &__buttons {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;

        div {
          margin: 1rem;
        }

        i {
          @include icon-light;
          font-size: 2rem;
        }
        i:hover  {
          @include animation('pulsate 0.9s infinite');
        }
        h3:hover  {
          color: $font-color-dark;
          @include animation('pulsate 0.9s infinite');
        }
      }
      &__year {
        
        h3 {
          font-weight: 900;
        }
      }
    }
    &__body {
      margin: 3rem;

      table {
        width: 100%;
      }
    }
    &__addButton {
      margin: 1rem;
      padding: 2rem;
      @include neumorph-middle;
      &:hover {
        box-shadow: none;
      }
    }
  }
  &__right {
    grid-area: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
    transform-style: preserve-3d;
    animation-delay: 1s;
    @include transition-ease;

    &__header {
      width: 80%;
      margin-bottom: 3rem;
      @include neumorph-middle;
      h2 {
        @include animation('menu-drop 2s');
      }
    }
    &__noEvents {
      @include neumorph-middle;
    }
    &__deleteEvent {
      @include neumorph-middle;
    }
    &__body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-around;

      &__event {
        width: 40%;
        height: auto;
        margin: 2rem;
        @include neumorph-middle;

        &:hover {
          box-shadow: none;
        }

        img {
          width: 80%;
        }
        &__button {
          @include button;
          @include neumorph-middle;
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
  &__parallax__bottom {
    grid-area: parallax__bottom;
    background-image: url('https://i.ibb.co/2v0Z7Rv/spaarne.jpg');
    @include parallax
  }
  &__span {
    grid-area: bottom; 
    background: $background-radial;
    

    i {
      color: $font-color-light;
      font-size: 3rem;
      margin: 1rem;
    }
  }
}

.today {
  border-radius: 3px;
}

.clickedDay {
  border-radius: 3px;
}
.today:hover {
  color: red;
}

.day:hover {
  color: red;
}

.month:hover {
  color: red;
}