.header {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 7vh;
  background-color: $background-radial;

  h1 {
    @include h1;
  }
  h3 {
    @include h3;
  }
  
  p, li {
    color: $font-color-light;
    @include paragraph-typo;
  }

  &__logo {
    margin-left: 3rem; 

    &__link {
      &__homeBtn {
        position: relative;
        width: 4rem;
        height: 4rem;
        @include threeDstyle;

        span {
          @include homeButton;
          @include animation('homeButton 3s ease-in-out infinite');
    

          &:nth-child(1) {
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            animation-delay: 0s;
          }

          &:nth-child(2) {
            top: 10px;
            left: 10px;
            bottom: 10px;
            right: 10px;
            animation-delay: 1s;
          }

          &:nth-child(3) {
            top: 20px;
            left: 20px;
            bottom: 20px;
            right: 20px;
            animation-delay: 2s;
          }
        }

      }
    }
  }

  &__sun {
    margin-right: 3rem;
    @include sun;

    &:hover {
      transform: scale(1.5, 1.5)
    }
  }
  &__moon {
    margin-right: 3rem;
    @include moon;

    &:hover {
      transform: scale(1.5, 1.5)
    }
  }
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: $header-font;
  background: linear-gradient(45deg, #434343 0%, #00000099 100%);
  @include animation(night 1s);

  &__header {
    width: 30%;
    height: 10%;
    align-items: center;
    text-align: center;
    @include neumorph-top;

    h2 {
      @include h2
    }
  }
  
  &__items {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    
    &__item {
      @include neumorph-middle;
      text-align: center;
      width: 20%;
      margin: 2rem;
      &:hover {
        box-shadow: none;
      }
  
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $font-color-light;
      }
      p {
        @include paragraph-typo;
      }
      i {
        margin: 2rem;
        font-size: 5rem;
      }
    }
  }
} 





