
.homepage {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'title title title'
    'left middle right'
    'bottom bottom bottom' 
  ;
  grid-gap: 0;
  text-align: center;

  h1 {
    @include h1;
  }

  h2 {
    @include h2;
  }

  h3 {
    @include h3
  }

  a {
    @include link;
  }

  &__title {
    grid-area: title;
    margin-top: 3rem;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    background: $background-radial;
    @include neumorph-top;
  }

  &__left {
    grid-area: left;
    width: 80%;
    margin-left: 20%;
    background: $background-radial;
    text-align: center;
    margin-top: 10vh;
    @include transition-ease;
    @include neumorph-left;

    &__header {
      &__btn {
        a {
          i {
            @include icon-light;
          }
          i:hover  {
            @include animation('pulsate 0.9s infinite');
          }
        }
        
      }
    }
    
  }

  &__middle {
    grid-area: middle;
    background: $background-radial;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    align-items: center;
    justify-content: space-evenly;

    &__image {
      @include neumorph-middle;
      width: 30%;
      margin: 2rem;
      img {
        width: 100%;
        border-radius: 3px;
        
      }
    }
    &__list {
      @include neumorph-middle;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }
    &__site {
      @include neumorph-middle;
      text-align: left;
      width: auto;
      margin: 3rem;
      h3, p {
        margin: 1rem;
      }

    }
  }

  &__right {
    grid-area: right;
    width: 80%;
    background: $background-radial;
    margin-top: 10vh;
    @include transition-ease;
    @include neumorph-right;

    &__header {
      h2 {
        color: $font-color-light;
      }

      &__btn {
        a {
          i {
            @include icon-light;
          }
          i:hover  {
            @include animation('pulsate 0.9s infinite');
          }
        }
        
      }
    }
  }

  &__span {
    grid-area: bottom; 
    width: 50vw;
    margin-left: 25vw;
    margin-top: 2rem;
    margin-bottom: 4rem;
    background: $background-radial;
    @include neumorph-bottom;

    i {
      color: $font-color-light;
      font-size: 3rem;
      margin: 1rem;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 800px) {
  .homepage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 50vh 50vh 50vh 15vh;
    grid-template-areas: 
      'title'
      'left'
      'middle'
      'right'
      'bottom'
    ;

    &__left {
      &__image img {
        width: 50vw;
      }
    }
  
    &__right__image img {
      width: 50vw;
    }

  }

}