
.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 13vh 50vh auto;
  grid-template-areas: 
    'title title'
    'left right'
    'bottom bottom'
  ;
  grid-gap: 0;
  text-align: center;

  h1 {
    @include h1;
  }

  h2 {
    @include h2;
  }

  a {
    @include link;
  }

  i {
    @include icon
  }

  &__title {
    grid-area: title;
    margin-top: 7vh;
    height:13vh;
    text-align: center;
    background-color: $background-color;
  }

  &__left {
    grid-area: left;
    margin-top: 7vh;
    background-color: $background-color;
    @include transition-ease;

    &__header {
      h2 {
        color: $font-color-light;
      }

      &__btn {
        a {
          i:hover  {
            animation: pulsate 0.5s infinite;
          }
        }
        
      }
    }

    &:hover {
      box-shadow: 5px 5px 2px 3px $font-color-light;
    }
    
  }

  &__right {
    grid-area: right;
    margin-top: 7vh;
    @include transition-ease;

    &__header {
      h2 {
        color: $font-color-dark;
      }

      &__btn {
        a {
          i:hover  {
            animation: pulsate 0.5s infinite;
          }
        }
        
      }
    }
    
    &:hover {
      box-shadow: 5px 5px 2px 3px $font-color-light;
    }
  }

  &__span {
    grid-area: bottom; 

    &__stage {
      
      box-shadow: 5px 5px 2px 3px $font-color-light;
      
    }
    
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 800px) {
  .homepage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 50vh 50vh 50vh 15vh;
    grid-template-areas: 
      'title'
      'left'
      'middle'
      'right'
      'bottom'
    ;

    &__left {
      &__image img {
        width: 50vw;
      }
    }
  
    &__right__image img {
      width: 50vw;
    }

  }

}