$prime-color: rgb(14, 22, 56);
$prime-color-transparent: rgb(255, 255, 255);
$second-color: rgb(228, 210, 215);
$second-color-transparent: rgb(197, 142, 157);
$third-color: rgb(27, 25, 25);
$third-color-transparent: rgb(51, 45, 45);

$background-color: rgb(196, 196, 207);
$background-color-trans: rgba(255, 255, 255, 0.3);

$shadow-light: rgb(15, 9, 100);
$shadow-dark: rgb(30, 56, 90);


$font-color-light: rgb(0, 0, 201);
$font-color-dark: rgb(33, 99, 33);

$header-font: 'PT Sans Caption', sans-serif;
$paragraph-font: 'PT Sans Caption', sans-serif;


// rgb(51, 45, 45); background-color
// $font-color-light: rgb(162, 212, 105);