$prime-color: rgb(14, 22, 56);
$prime-color-transparent: rgb(255, 255, 255);
$second-color: rgb(228, 210, 215);
$second-color-transparent: rgb(197, 142, 157);
$third-color: rgb(27, 25, 25);
$third-color-transparent: rgb(51, 45, 45);

$background-color: rgb(51, 45, 45);

$shadow-light: rgb(165, 165, 73);
$shadow-dark: rgb(34, 34, 15);


$font-color-light: rgb(162, 212, 105);
$font-color-dark: rgb(83, 83, 83);

$header-font: 'PT Sans Caption', sans-serif;
$paragraph-font: 'Girassol', sans-serif;



