.header {
  position: fixed;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 7vh;
  background-color: transparent;

  &__logo {
    margin-left: 3rem; 

    h1 {
      color: $second-color;
      font-weight: 900;
    }
  }

  &__logo__link__image {
    height: 3rem;
    width: 3rem;
  }

  &__burger {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    

    &__top {
      width: 30px;
      height: 7px;
      border: solid $second-color 3px;
      border-radius: 3px;
      margin: 0.2rem;
      background-color: $second-color;
      @include transition-ease;
    }

    &__top:hover {
      background-color: $prime-color;
    }

    &__middle {
      width: 30px;
      height: 7px;
      border: solid $second-color 3px;
      border-radius: 3px;
      margin: 0.2rem;
      background-color: $second-color;
      @include transition-ease;
    }

    &__middle:hover {
      background-color: $prime-color;
    }

    &__bottom {
      width: 20px;
      height: 7px;
      border: solid $second-color 3px;
      border-radius: 3px;
      margin: 0.2rem;
      background-color: $second-color;
      @include transition-ease;
    }

    &__bottom:hover {
      background-color: $prime-color;
    }
  }

  &__menu {
    width: 90vw;
    margin-top: 21vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $second-color;
    @include menu-drop;

    &__item a {
      text-decoration: none;
      color: $prime-color;
    }

    &__item {
      text-align: center;
      width: 100%;
      border: solid $second-color 2px;
    }
  } 
}

