
.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20vh 55vh 15vh;
  grid-template-areas: 
    'title title title'
    'left middle right'
    'bottom bottom bottom'
  ;
  grid-gap: 0;
  background-color: $background-color;
  text-align: center;

  h1 {
    color: $second-color;
    font-weight: 900;
  }

  h2 {
    color: $second-color;
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: $second-color;
    font-weight: 700;
  }

  &__title {
    grid-area: title;
  }

  &__span {
    grid-area: bottom; 
    
  }

  &__left {
    grid-area: left;
    background-color: transparent;
    @include transition-ease;

    &__image img {
      width: 15vw;
    }

    &__image img:hover {
      animation: spin 2s ease-in-out;
    }

    &.open {
      width: 45vw;
      margin-left: 10vw;
      animation: grow 2s ease-in-out; 
    }
    
  }

  &__middle {
    grid-area: middle;
    
    // background-image: url('https://static.vecteezy.com/system/resources/previews/000/535/036/non_2x/abstract-digital-technology-with-blue-tech-background-vector-design2.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    @include transition-ease;

    &__image img {
      width: 15vw;
    }

    &__image img:hover {
      animation: spin 2s ease-in-out;
    }

    &.open {
      width: 45vw;
      margin-left: 10vw;
      animation: grow 2s ease-in-out; 
    }
  }

  &__right {
    grid-area: right;
    
    // background-image: url('http://www.allwhitebackground.com/images/5/Sporty-Background-High-Quality-Image.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    @include transition-ease;

    &__image img {
      width: 15vw;
    }

    &__image img:hover {
      animation: spin 2s ease-in-out;
    }
    
    &.open {
      width: 45vw;
      margin-left: 10vw;
      animation: grow 2s ease-in-out; 
    }
  }
}

@keyframes grow {
  0% {
    transform: scale(1,1);
    
    
  }
  50% {
    transform: scale(1.5,1.5);
  }
  100% {
    transform: scale(1,1);
  }
}

@keyframes spin {
  0% {transform: rotateY(0deg)}
  100%{transform: rotateY(360deg);}
}

@media screen and (max-width: 800px) {
  .homepage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 50vh 50vh 50vh 15vh;
    grid-template-areas: 
      'title'
      'left'
      'middle'
      'right'
      'bottom'
    ;

    &__left {
      &__image img {
        width: 50vw;
      }
    }
  
    &__middle__image img {
      width: 50vw;
    }
  
    &__right__image img {
      width: 50vw;
    }

  }

}