.personalpage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 13vh 80vh 15vh;
  grid-template-areas: 
    'title title'
    'left right'
    'bottom bottom'
  ;
  grid-gap: 0;
  text-align: center;

  h1 {
    color: $second-color;
    font-weight: 900;
    animation: grow 2s ease-in-out; 
    font-family: "Girassol", cursive;
  }

  h2 {
    color: $second-color;
    font-weight: 700;
    animation: grow 2s ease-in-out;
    font-family: "Girassol", cursive;
  }

  a {
    text-decoration: none;
    color: $second-color;
    font-weight: 700;
    animation: grow 2s ease-in-out;
  }

  &__title {
    grid-area: title;
    margin-top: 7vh;
    height:13vh;
    text-align: center;
    background-color: $third-color-transparent;
    h1 {
      color: $font-color-light;
    }
  }

  &__span {
    grid-area: bottom; 
    
  }

  &__left {
    grid-area: left;
    margin-top: 7vh;
    background-color: $prime-color;
    // background-image: url('https://i.ibb.co/4YDTRx6/DSC03981.jpg');
    height: 80vh;
    @include transition-ease;

    &__image img {
      width: 15vw;
    }

    &__image img:hover {
      animation: grow 2s ease-in-out;
    }

    &.open {
      width: 70vw;
      background-color: $prime-color-transparent;
      animation: grow 2s ease-in-out;
      box-shadow: 5px 10px black;
    }
    
  }

  &__right {
    grid-area: right;
    margin-top: 7vh;
    background-color: $prime-color-transparent;
    height:80vh;
    @include transition-ease;

    &__image img {
      width: 15vw;
    }

    &__image img:hover {
      animation: grow 2s ease-in-out;
    }
    
    &.open {
      width: 70vw;
      background-color: $prime-color;
      animation: grow 2s ease-in-out;
      box-shadow: 5px 10px black;
    }
  }
}

@keyframes grow {
  0% {
    transform: scaleX(1,1);
    
    
  }
  50% {
    transform: scaleX(1.2,1.2);
  }
  100% {
    transform: scale(X1,1);
  }
}

@keyframes spin {
  0% {transform: rotateY(0deg)}
  100%{transform: rotateY(360deg);}
}