$prime-color: rgb(130, 188, 215);
$prime-color-transparent: rgba(130, 188, 215, 0.5);
$second-color: rgb(138, 18, 54);
$second-color-transparent: rgba(138, 18, 54, 0.5);
$third-color: rgb(100, 5, 101);
$third-color-transparent: rgba(100, 5, 101, 0.5);

$background-color: rgba(8, 81, 129, 0.438);

$font-color-light: white;

$header-font: 'Girassol', cursive;

@mixin transition-ease {
  transition: all 0.7s ease-in-out;
  animation: menu-animation 2s;
}

@mixin menu-drop {
  transition: ease-in-out;
}
