$prime-color: rgb(14, 22, 56);
$prime-color-transparent: rgba(255, 255, 255, 0.5);
$second-color: rgb(228, 210, 215);
$second-color-transparent: rgba(228, 210, 215, 0.5);
$third-color: rgb(27, 25, 25);
$third-color-transparent: rgba(27, 25, 25, 0.5);

$background-color: rgba(8, 81, 129, 0.438);

$font-color-light: white;
$font-color-dark: rgba(19, 13, 13, 0.5);

$header-font: 'PT Sans Caption', sans-serif;
$paragraph-font: 'Girassol', cursive;

@mixin transition-ease {
  transition: all 0.7s ease-in-out;
  animation: menu-animation 2s;
}

@mixin menu-drop {
  transition: ease-in-out;
}
