@import '_variables.scss';
@import '_animations.scss';
@import '_header';
@import '_homePage.scss';
@import '_personal.scss';
@import '_projects.scss';
@import '_footer.scss';

.App {
  box-sizing: border-box;
  margin: 0;


  div {
    @include transition-ease;
    h1 h2 h3 {
      font-family: $header-font;
    }
  }

  
}