@import 'base/variables', 
  "base/mixins", 
  "base/reset", 
  "base/animations",
  "base/functions";

@import 'components/header',
'components/homePage', 
'components/personal',
'components/projects',
'components/calendar',
'components/gameroom',
'components/photoapp';


.App {
  box-sizing: border-box;
  margin: 0;
  background: $background-linear;
  min-height: 100vh;

  div {
    @include transition-ease;
  }

  
}